.learning-options-containerff {
  display: flex;
  align-items: flex-start;
}

.image-wrapperff {
  flex-shrink: 0;
  margin-right: 2px;
}

.image-wrapperff img {
  width: 600px;
  height: auto;
  padding: 0px;
}

.learning-options-contentff {
  padding: 4px;
}

.learning-options-content h1 {
  font-size: 8px;
  margin-bottom: 7px;
}

.learning-options-content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.course-block {
  display: block; /* Make the anchor tag a block-level element */
  text-decoration: none; /* Remove underline from anchor */
  color: inherit; /* Inherit color from parent */
  margin-bottom: 15px; /* Add space between blocks */
}

.course-item {
  display: flex; /* Use flexbox for image and text */
  align-items: flex-start;
  background-color: #fff;
}

.course-imagess {
  
  height: 40px;
  margin-right: 15px; /* Space between image and text */
}

.course-text {
  flex: 1; /* Allow text to take remaining space */
}

.course-link {
  font-weight: bold;
  text-decoration: underline;
  color: #0f0f10;
  font-size: 10px;
}

.course-link:hover {
  color: #0056b3;
  background-color: azure;
}

.course-item p {
  font-size: 15px;
  line-height: 1.4;
 
}