/* Interformation.css */

.udemy-navbar {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
  height: 60px; /* Adjust as needed */
}

.udemy-logo {
  margin-right: 20px;
}

.udemy-logo img {
  height: 40px; /* Adjust logo size */
}

.navbar-links {
  margin-right: 20px;
}

.dropdown-button {
  background: none;
  border: none;
  color: #505763;
  font-size: 1rem;
  padding: 10px 15px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid #d3d7de; /* Add a border */
  border-radius: 25px; /* Make it fully rounded */
  overflow: hidden; /* Clip the content to the border-radius */
}

.search-bar input {
  flex-grow: 1;
  padding: 10px 15px; /* Adjust padding for spacing */
  border: none; /* Remove individual input border */
  border-radius: 0; /* Remove individual input border-radius */
  font-size: 1rem;
  outline: none;
}

.search-bar input::placeholder {
  color: #868f9b; /* Match placeholder text color */
}

.search-icon {
  background: none;
  border: none;
  padding: 10px 15px;
  border-radius: 0 25px 25px 0; /* Keep right rounded corners */
  background-color: transparent; /* Make the icon background transparent */
  color: #868f9b; /* Match icon color */
  cursor: pointer;
  outline: none;
}

.search-icon svg {
  width: 20px;
  height: 20px;
  fill: #868f9b; /* Match icon fill color */
}
.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  color: #505763;
  font-size: 1rem;
  margin-left: 15px;
  padding: 10px 0;
}

.cart-button {
  background: none;
  border: none;
  color: #505763;
  font-size: 1rem;
  margin-left: 15px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.cart-button svg {
  width: 24px;
  height: 24px;
  fill: #505763;
}

.login-button {
  background: none;
  border: 1px solid #d3d7de;
  color: #505763;
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 15px;
  outline: none;
}

.signup-button {
  background-color: #a435f0;
  color: #fff;
  font-size: 1rem;
  padding: 8px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
}

.language-button {
  background: none;
  border: none;
  color: #505763;
  font-size: 1rem;
  margin-left: 15px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.language-button svg {
  width: 20px;
  height: 20px;
  fill: #505763;
}