body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
.interfacess {
  width: 100%;
  font-family: sans-serif;
  color: #333;
  background-color: #1eb2a663;;
}

.headerapps {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer les éléments horizontalement */
  width: 100%;
  background-color:#1eb2a663;
  color:#333;
  min-height: 8vh;
  padding: 10px 20px;
  
}

.logo {
  display: flex;
  align-items: center;
  /* Supprimer margin-right pour centrer le titre */
}

.logo img {
  width: 50px;
  animation: fadeIn 0.5s ease-in-out;
}

.logo span { /* Style pour le texte "Formation" */
  font-size: 20px;
  white-space: nowrap;
  text-align:  center ;
  padding-right: 30px;
  text-decoration: none;
  color: rgb(17, 15, 15);
  white-space: nowrap;
}
.navss a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  justify-content: space-between;
  padding: 10px;

}

.main-content {
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.intro {
  text-align: center;
  margin-bottom: 30px;
  animation: fadeIn 0.5s ease-in-out;
}

.formations {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  animation: fadeIn 0.5s ease-in-out;
  padding: 15px;
}

.formation-cardss {
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.formation-cardss img {
  width: 100%;
  height: auto;
  transition: border 0.3s ease;
  animation: fadeIn 0.5s ease-in-out;
  margin-bottom: 10px;
  padding : 40px;
  justify-content: space-between;

}

.formation-cardss div {
  text-align: center;
  animation: fadeIn 0.5s ease-in-out 0.4s;
 
}

/* Styles de focus */
.formation-cardss div:focus-within,
.nav a:focus {
  outline: none;
  border: 2px solid #007bff;
}

.formation-cardss img:focus {
  outline: none;
  border: 3px solid #007bff;
  padding-left: 15px;
}

.formation-cardss:focus-within img {
  outline: none;
  border: 3px solid #007bff;
}

/* Styles de survol */
.formation-card img:hover {
  border: 2px solid #007bff;
}

/* Animation de fondu en entrée */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}