.courses-container {
  text-align: center;
  padding: 20px;
}
h1 {
  font-size: 0.83em;
  line-height: 1.1;
  color: rgb(152, 213, 251);
}

.courses-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.course-card {
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.course-card img {
  width: 100px; /* Augmente la taille de l'image */
  height: 100px; /* Augmente la taille de l'image */
  object-fit: cover;
  border-radius: 50%; /* Conserve le format circulaire */
  margin: 10px auto;
  display: block;
}

.rating {
  color: #ffc107;
  margin-bottom: 10px;
}

.rating .filled {
  color: #ff9800;
}

.instructor {
  font-style: italic;
  margin-bottom: 5px;
}

.lectures,
.price {
  margin-bottom: 10px;
}

.enroll-button {
  background-color: #8cb6df; /* Couleur du bouton "ENROLL NOW!" (vert) */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border: none; /* Supprime la bordure du bouton */
  cursor: pointer; /* Ajoute un curseur pointeur au survol */
}

.enroll-button:hover {
  background-color: #218838; /* Couleur du bouton au survol */
}